{
    "ftx": {
        "key": "",
        "secret": "",
        "subAccount": ""
    },
    "notify": true,
    "line": {
        "channel_secret": "",
        "channel_access_token": ""
    },
    "telegram": ""
}